
@{
    ViewBag.Title = "Home";
}
@section header {

}
<div class="container">
    <div class="row">
        <div class="col-12"><h4>Knockout</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="pnlMessage"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="pnlExample"></div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript" src="~/scripts/typescripts/main.js"></script>
}
